#
# AzerothCore
#

conf/*
!conf/*.dist
env/dist/*
env/user/*
modules/*
build*/
var/*

!.gitkeep

#
#Generic
#

.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.idea
.vagrant
/data.zip

*.zip
.vscode/settings.json
.vscode/c_cpp_properties.json
